<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">

    <title>Student Details</title>

    <style>
        .login{
            border: 2px solid darkorange;
            border-radius: 8px;
            box-shadow: 0px 0px 0px 0px #000;
            padding: 0px 15px 20px 15px;
            margin: 50px 150px 50px 180px;
            width: 900px;
            height:auto;
            border:3px ridge;
            position:relative;
            background: #E6E6FA;
         }
    </style>

  </head>

<body>

    <div class="form-container">

        <form method="POST" class="login" id="id_form">
            {% csrf_token %}
            <div class="row">
                <div class="text-center" align="right">
                    <h1 style="font-size:20px;font-family:serif;font-size:40px; color:rgb(14, 11, 11);margin-top: 15px;" class="h4 text-gray-900 mb-2">Update Student</h1>
                </div>
            </div><br>

            {% for i in stud_data %}
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                    <label style="font-family:serif;font-size:20px;">Student No.:</label>

                </div>
                <div class="col-sm-6">
                    <input type="text" value="{{i.student_no}}" name="student_no" id="id_student_no" maxlength="30" class ="form-control" style= "font-family:serif;font-size:18px;">
                    <div id="stud_no_error" style="color:red">Enter Only Numbers</div>
                    <input type="text" hidden value="{{i.id}}" name="id" id="id_student" class ="form-control" style= "font-family:serif;font-size:18px;">
                </div>
            </div><br>
            
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                    <label style="font-family:serif;font-size:20px;">Name:</label>
                </div>
                <div class="col-sm-6">
                    <input type="text" value="{{i.student_name}}" name="student_name" id="id_student_name" max="50" class ="form-control" style= "font-family:serif;font-size:18px;">
                    <!-- <div id="sub_error" style="color:red">Enter Only Character</div> -->
                </div>
            </div><br>

            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                    <label style="font-family:serif;font-size:20px;">DOB:</label>
                </div>
                <div class="col-sm-6">
                    <input type="date" value="{{i.student_dob|date:'Y-m-d'}}" name="student_dob" id="id_student_dob" class ="form-control" style= "font-family:serif;font-size:18px;">
                    <!-- <div id="sub_error" style="color:red">Enter Only Character</div> -->
                </div>
            </div><br>

            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                    <label style="font-family:serif;font-size:20px;">DOJ:</label>
                </div>
                <div class="col-sm-6">
                    <input type="date" value="{{i.student_doj|date:'Y-m-d'}}" name="student_doj" id="id_student_doj" class ="form-control" style= "font-family:serif;font-size:18px;">
                    <!-- <div id="sub_error" style="color:red">Enter Only Character</div> -->
                </div>
            </div><br>
            {% endfor %}

            <div class="row"> 
                <div class="col-sm-1"></div>
                <div class="col-sm-4">
                    <span id="id_error"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-2" align="left">
                    <input class="btn btn-primary" id="submit" name="submit" type="button" value="Submit">
                </div>
                <div class="col-sm-4" align="left">
                    <button class="btn btn-primary" id="id_cancel" type="reset"> Cancel </button>
                </div>
            </div>
           
        </form>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>

<script>
    function Capitalize1(str,force){
    str=force ? str.toLowerCase() : str;  
    return str.replace(/(\b)([a-zA-Z])/g,
            function(firstLetter){
                return  firstLetter.toUpperCase();
            });
}
</script>

<script>
    $('#id_student_name').keyup(function(){
     $(this).val(Capitalize1($(this).val(),true));   
     });   
 </script>

<script>
    $("#stud_no_error").hide();
    $("#id_student_no").on("keypress", function(event) {
        if ((event.which < 48 || event.which > 57 || event.which == 9)) {
            event.preventDefault();
            $("#stud_no_error").show();
        }
        if (!(event.which < 48 || event.which > 57 || event.which == 9)) {
            $("#stud_no_error").hide();
        }
        $('#id_student_no').focusout(function() {
            $("#stud_no_error").hide();
        });
    });
</script>

<script type="text/javascript">
   $(function() {
  $(document).ready(function () {
   var todaysDate = new Date(); // Gets today's date
    var year = todaysDate.getFullYear();                        // YYYY
    var month = ("0" + (todaysDate.getMonth() + 1)).slice(-2);  // MM
    var day = ("0" + todaysDate.getDate()).slice(-2);           // DD
    var maxDate = (year +"-"+ month +"-"+ day); // Results in "YYYY-MM-DD" for today's date 
    $('#id_student_dob').attr('max',maxDate);
    $('#id_student_doj').attr('max',maxDate);
  });
});
</script>

<!-- <script>
    $('#id_student_doj').focusout(function() {
        var dob = $('#id_student_dob').val()
        var doj = $('#id_student_doj').val()
        if(doj <= dob){
            alert("Enter Valid Date")
        }

    });
</script> -->

<script>
    $("#submit").click(function() {
            var formData = new FormData(document.getElementById("id_form"))
            var id = $("#id_student").val()
            $.ajax({
                    url : '/student_patch_api/'+id,
                    type: 'PATCH',
                    headers: { "X-CSRFToken": "{{ csrf_token }}" },
                    dataType: 'json',
                    data:  formData,
                    processData: false,
                    contentType: false,
                    success: function(data){
                        console.log(data)
                        swal('Success',"Data Stored successfully.",'success')
                        location.href = '/student_list'
                         $('.error').hide()
                    },
                    error: function(data){
                        $('.error').hide()
                        var error_data = JSON.parse(data.responseText)
                        console.log("errorInfo",error_data)
                        if( error_data.student_no ){
                            $('#id_student_no').after(`<span class="error" style="font-size: 15px;color: Red;">`+ error_data.student_no +`</span>`);
                        }
                        if( error_data.student_name ){
                            $('#id_student_name').after(`<span class="error" style="font-size: 15px;color: Red;">`+ error_data.student_name +`</span>`);
                        }
                        if( error_data.student_dob ){
                            $('#id_student_dob').after(`<span class="error" style="font-size: 15px;color: Red;">`+ error_data.student_dob +`</span>`);
                        }
                        if( error_data.student_doj ){
                            $('#id_student_doj').after(`<span class="error" style="font-size: 15px;color: Red;">`+ error_data.student_doj +`</span>`);
                        }
                        if (error_data.non_field_errors) {
                            console.log(error_data.non_field_errors)
                            $('#id_error').after(`<li class="error" style="font-size: 15px;color: Red;width:100%;padding-left:10px">` + error_data.non_field_errors + `</li> `);
                        }    
                    }
            });
    });
    </script>
    <script>
        $("#id_cancel").click(function() {
            location.href = "/student_list"
        });
    </script>